<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      CONTADOR DE TRUCO
    </ion-title>
    <img src="../../assets/card-color.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-no-border" [fullscreen]="true">
  <ion-grid class="grid">
    <ion-row class="row-1">
      <ion-label>Valendo: <span> {{ value }} </span></ion-label>
    </ion-row>
    <ion-row class="row-2">
      <ion-col><ion-button id="button-1" (click)="changeValue(1)" fill="{{ buttonState1 }}">1</ion-button></ion-col>
      <ion-col><ion-button id="button-2" (click)="changeValue(3)" fill="{{ buttonState2 }}">3</ion-button></ion-col>
      <ion-col><ion-button id="button-3" (click)="changeValue(6)" fill="{{ buttonState3 }}">6</ion-button></ion-col>
      <ion-col><ion-button id="button-4" (click)="changeValue(9)" fill="{{ buttonState4 }}">9</ion-button></ion-col>
      <ion-col><ion-button id="button-5" (click)="changeValue(12)" fill="{{ buttonState5 }}">12</ion-button></ion-col>
    </ion-row>
    <ion-row class="row-3">
      <ion-col>
        <ion-label>NÓS</ion-label>
        <ion-button fill="clear" class="add-button" (click)="increaseWePoints()"><img src="../../assets/heart1.png"
            alt=""></ion-button>
        <h1 id="counter"> {{ wePoints }} </h1>
        <ion-button fill="clear" class="remove-button" (click)="decreaseWePoints()"><img
            src="../../assets/zap-inverse.png" alt=""></ion-button>
      </ion-col>
      <ion-col>
        <ion-label>ELES</ion-label>
        <ion-button fill="clear" class="add-button" (click)="increaseTheyPoints()"><img src="../../assets/zap.png"
            alt=""></ion-button>
        <h1 id="counter"> {{ theyPoints}} </h1>
        <ion-button fill="clear" class="remove-button" (click)="decreaseTheyPoints()"><img
            src="../../assets/heart-inverse.png" alt=""></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-card class="ion-no-border">
    <ion-card-title class="ion-text-center">PARTIDAS<ion-icon name="trophy"></ion-icon></ion-card-title>
    <ion-card-content class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-label>NÓS</ion-label>
        </ion-col>
        <ion-col>
          <h1 id="counter"> {{ weWins }} </h1>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-label>ELES</ion-label>
        </ion-col>
        <ion-col>
          <h1 id="counter"> {{ theyWins }} </h1>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div class="clear-button">
    <ion-button (click)="clearValues()"><ion-label>LIMPAR</ion-label></ion-button>
  </div>
</ion-footer>
