<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title style="font-weight: bold;" class="ion-text-center">
      CARA OU COROA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="container">
    <img [@rotatedStated]="state" [src]="image">
    <h4>{{ info }}</h4>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar (click)="throwCoin()" class="btn">
    <ion-title class="ion-text-center">
      Clique para jogar a Moeda
    </ion-title>
  </ion-toolbar>
</ion-footer>
