@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

ion-content {
  --background: var(--ion-color-white);
}

ion-label, h1, p {
  color: var(--ion-color-dark-gray);
}

ion-toolbar {
  --background: var(--ion-color-red);
  ion-title {
    --color: var(--ion-color-white);
  }
}

ion-tab-bar {
  --background: var(--ion-color-white);
}

ion-toast.custom-toast {
  --background: var(--ion-color-red);
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: var(--ion-color-white);
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid #d2d2d2;
  color: #030207;
  font-size: 15px;
}

ion-alert.custom-alert {
  --background: var(--ion-color-red);
  color: var(--ion-color-white);
}




